.outer-container {
    width: 100%;
}

.task-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
    background-color: rgb(66, 58, 111);
    color: #ffff;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-left: auto;
    margin-right: auto;
}

.todo-content {
    font-size: 18px;
    margin-left: 10px;
}

.icon-delete {
    margin-left: auto;
    cursor: pointer;
    font-size: 18px;
}

.checkbox {
    cursor: pointer;
    font-size: 10px;
}